<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Camping Trip Advisor</title>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Fredericka+the+Great', 'https://fonts.googleapis.com/css?family=Fugaz+One', "https://fonts.googleapis.com/css?family=Londrina+Solid", "https://fonts.googleapis.com/css?family=Londrina+Solid|Sumana"%>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
